.post {
    background-color: rgb(217, 255, 205);
    width: 550px;
    min-height: 200px;
    max-height: 600px;
    margin: 25px;
    border-radius: 5px;
    box-shadow: 1px 2px 3px black;
    display: flex;
    flex-direction: column;
}

.postContainer{
    width: 100%;
    display: flex;
    justify-content: center;
}

.userName {
    align-self: center;
}

.postContent{
    align-self: flex-start;
    margin: 10px;
    line-height: 1.5em;
    text-align: left;
}

.profilePhotoInPost{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid black;
    margin: 20px;
}

.imageContainer{
    display: flex;
    flex-direction: row;
}